@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --background: green; */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-custom-md-nav:  824px;
  --breakpoint-custom-xxsm-nav: 320px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* prevent scrolling when the mobile menu is open */
.no-scroll {
  overflow: hidden;
}

/* use @apply to apply styles globally to those elements */

h1 {
  @apply text-red-700 text-lg;
}

h2 {
  @apply text-blue-500 text-lg;
}

h3 {
  @apply text-green-500 text-lg;
}

main, footer, .navbar {
  margin: 0 auto;
  max-width: 1280px;
  /* padding-left: 40px;
  padding-right: 40px; */
}

.hamburger-icon {
  height: 20px;
  width: 20px;
}

/* Creating the close icon from the hamburger icon */
.hamburger-icon rect {
  transition: all 0.2s ease;
}

.hamburger-icon.open .top {
  transform: rotate(45deg);
}

.hamburger-icon.open .middle {
  opacity: 0;
}

.hamburger-icon.open .bottom {
  transform: translateX(-60px) rotate(-45deg) translateY(22px);
}

.navbar-mobile {
  /* padding-left: 16px;
  padding-right: 16px; */
  /* background-color: skyblue; */
}

/* @media screen and (min-width: 824px) {
  .navbar-mobile {
    background-color: red;
    padding-left: 12px;
    padding-right: 12px;
  }
} */