@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --background: green; */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-custom-md-nav:  824px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-red-700 text-8xl;
}

h2 {
  @apply text-blue-500 text-7xl;
}

h3 {
  @apply text-green-500 text-5xl;
}

main, footer, .navbar {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-mobile {
  padding-left: 40px;
  padding-right: 40px;
}